* {
    box-sizing: border-box;
}
header {
    margin-top: 20px;
    /* display: flex;
    justify-content: center; */
    background-color: rgba(20, 61, 97, 1);
    height: 180px;
    min-width: 100%;
    justify-content: stretch;
}

/*   position: -webkit-sticky;
  position: sticky; */
header nav {
    display: flex;
    justify-content: center;

}
header nav ul {
    display: flex;
    padding: 0 20px 0 20px;
    list-style: none;

}

#navlist {
    padding: 0 20px 0 20px;
    text-decoration: none;
    color: rgba(233, 245, 255, 0.9);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.my-name h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: rgba(233, 245, 255, 0.9);
    padding-left: 35px;
    /* padding-top: 60px; */
    text-shadow: -8px 0 0 rgb(255, 255, 255, 0.25);
    position: relative;
}

/* about me section start*/
.about-me {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 20px 30px 20px;
}

.bio-text {
    /* outline-style: solid; */
    padding: 50px;
    margin-left: 20px;
    margin-right: 50px;
    /* margin: auto auto 20px auto; */
    font-size: 18px;
    font-weight: bold ;
    font-family: 'Courier New', Courier, monospace;
}

#bio-image {
    /* margin-left: 50px; */
    width: 420px;
    max-width: 100%;
    outline-style: double;
    outline-width: 7px;
    outline-color: rgba(20, 61, 97, .8);
}

/* about me section end */

/* my work section start */

.my-work {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(233, 245, 255, 0.9);

}

.github {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    /* margin-left: 50px;
    margin-right: 50px; */
    

}

#github-icon {
    max-width: 80%;
    padding-left: 30px;
    /* margin-left: 50px; */
}

.instagram {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
}

#instagram-icon {
    max-width: 80%;
    padding-left: 30px;
}

